#include "tSubGet.h"

IDI_ICON ICON "tSubGet.ico"

IDM_MAINMENU MENU 
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Stay on top", ID_TOPMOST
		MENUITEM "&Exit", IDOK
	END

	POPUP "T&ools"
	BEGIN
		MENUITEM "&Customise colour values", ID_CUSTOMCOLOURS
		MENUITEM "&Autosave settings", ID_AUTOSAVE
		MENUITEM "&Delete settings", ID_DELSETTINGS
	END
	MENUITEM "Abo&ut", ID_ABOUT
END

IDD_MAIN DIALOG 0,0,250,185
CAPTION "tSubGet"
FONT 9, "MS Shell Dlg"
MENU IDM_MAINMENU
STYLE DS_CENTER|WS_MINIMIZEBOX|WS_SYSMENU|WS_CAPTION
BEGIN
	LISTBOX IDL_INPUT, 5, 5, 210, 100, LBS_EXTENDEDSEL|LBS_NOINTEGRALHEIGHT|WS_VSCROLL|WS_HSCROLL
	PUSHBUTTON "&Add", ID_ADD, 220, 5, 25, 15 
	PUSHBUTTON "&Del", ID_DEL, 220, 22, 25, 15
	PUSHBUTTON "&Clear", ID_CLEAR, 220, 47.5, 25, 15
	PUSHBUTTON "U&p", ID_UP, 220, 73, 25, 15 
	PUSHBUTTON "Dow&n", ID_DOWN, 220, 90, 25, 15 

	CHECKBOX "S&et output folder", ID_SETFOLDER, 5, 105, 240, 13
	EDITTEXT IDE_OUTDIR,5, 120, 190, 14,ES_AUTOHSCROLL|ES_READONLY
	PUSHBUTTON "&Browse...",ID_BROWSE,200, 120, 45, 15, WS_DISABLED

	AUTOCHECKBOX "Add colou&r tags", ID_ADDCOLOUR, 5, 138, 70, 10 
	AUTOCHECKBOX "Overwrite output &without prompt", ID_NOPROMPT, 80, 138, 115, 10

	LTEXT "Tele&text page:", IDC_STATIC,  5, 152, 45, 8 
	EDITTEXT IDE_TTPAGE, 55, 150, 33, 12 

	LTEXT "Dela&y (ms):", IDC_STATIC, 95, 152, 35, 8
	EDITTEXT IDE_DELAY, 135, 150, 60, 12, ES_AUTOHSCROLL

	COMBOBOX IDL_CODEPAGE, 5, 165, 190, 13, CBS_DROPDOWNLIST
	DEFPUSHBUTTON "&Start",ID_MAINCONTROL,200, 165, 45, 15 
END


