#include <commctrl.h>
#include <windows.h>
#include "tSubDefs.h"

IDI_ICON ICON "tSubGet.ico"

IDM_MAINMENU MENU 
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Stay on top", ID_TOPMOST
		MENUITEM "&Exit", IDOK
	END

	POPUP "T&ools"
	BEGIN
		MENUITEM "Output &formatting", ID_OUTPUTFORMAT
		MENUITEM "&Autosave settings", ID_AUTOSAVE
		MENUITEM "&Delete settings", ID_DELSETTINGS
	END
	MENUITEM "Abo&ut", ID_ABOUT
END

IDD_MAIN DIALOG 0,0,250,195
CAPTION "tSubGet"
FONT 9, "MS Shell Dlg"
MENU IDM_MAINMENU
STYLE DS_CENTER|WS_MINIMIZEBOX|WS_SYSMENU|WS_CAPTION
BEGIN
	LISTBOX IDL_INPUT, 5, 5, 210, 110, LBS_EXTENDEDSEL|LBS_NOINTEGRALHEIGHT|WS_VSCROLL|WS_HSCROLL
	PUSHBUTTON "&Add", ID_LISTADD, 220, 5, 25, 15 
	PUSHBUTTON "&Locate", ID_LISTLOCATE, 220, 22, 25, 15
	PUSHBUTTON "&Del", ID_LISTDEL, 220, 44, 25, 15 
	PUSHBUTTON "&Clear", ID_LISTCLEAR, 220, 61, 25, 15 
	PUSHBUTTON "U&p", ID_LISTUP, 220, 83, 25, 15 
	PUSHBUTTON "Dow&n", ID_LISTDOWN, 220, 100, 25, 15 

	CHECKBOX "S&et output folder", ID_SETFOLDER, 5, 115, 240, 13
	EDITTEXT IDE_OUTDIR,5, 130, 190, 14,ES_AUTOHSCROLL|ES_READONLY
	PUSHBUTTON "&Browse...",ID_BROWSE,200, 130, 45, 15, WS_DISABLED

	AUTOCHECKBOX "Add colou&r tags", ID_ADDCOLOUR, 5, 148, 70, 10 
	AUTOCHECKBOX "Overwrite output &without prompt", ID_NOPROMPT, 80, 148, 115, 10

	LTEXT "Tele&text page:", IDC_STATIC,  5, 162, 45, 8 
	EDITTEXT IDE_TTPAGE, 55, 160, 33, 12 

	LTEXT "Dela&y (ms):", IDC_STATIC, 95, 162, 35, 8
	EDITTEXT IDE_DELAY, 135, 160, 60, 12, ES_AUTOHSCROLL

	COMBOBOX IDL_CODEPAGE, 5, 175, 190, 13, CBS_DROPDOWNLIST
	DEFPUSHBUTTON "&Start",ID_MAINCONTROL,200, 175, 45, 15 
END

IDD_OUTPUTFORMAT DIALOG 0, 0, 165, 65
CAPTION "Output formatting"
FONT 9, "MS Shell Dlg"
STYLE DS_CENTER | WS_CAPTION
BEGIN
	GROUPBOX "Colour values (Hex)", IDC_STATIC, 5, 5, 155, 40 
	COMBOBOX IDL_OF_COLOUR, 10, 15, 70, 13  , CBS_DROPDOWNLIST
	EDITTEXT IDE_OF_COLOURVALUE, 85, 15, 70, 13, ES_CENTER|ES_UPPERCASE
	AUTORADIOBUTTON "Foreground", IDR_OF_FOREGROUND, 10, 30, 70, 10, WS_DISABLED
	AUTORADIOBUTTON "Background", IDR_OF_BACKGROUND, 85, 30, 70, 10, WS_DISABLED
	PUSHBUTTON "&Default", ID_OF_DEFAULT, 5, 47, 40, 15
	DEFPUSHBUTTON "&Ok", IDOK, 75, 47, 40, 15 
	PUSHBUTTON "&Cancel", IDCANCEL, 120, 47, 40, 15
END

IDD_STATUS DIALOG 0, 0, 155, 65
CAPTION "tSubGet Status"
FONT 9, "MS Shell Dlg"
STYLE DS_CENTER|WS_CAPTION
BEGIN
	LTEXT "File name:", IDC_STATIC, 5, 6, 55, 8
	LTEXT "Current position:", IDC_STATIC, 5, 18, 55, 8 
	LTEXT "Time elapsed:", IDC_STATIC, 5, 30, 55, 8 

	EDITTEXT IDE_S_FILENAME, 60, 5, 90, 11, ES_AUTOHSCROLL|ES_READONLY|ES_RIGHT
	EDITTEXT IDE_S_FILEPOS, 60, 17, 90, 11, ES_AUTOHSCROLL|ES_READONLY|ES_RIGHT
	EDITTEXT IDE_S_TIMELAPSED, 60, 29, 90, 11, ES_AUTOHSCROLL|ES_READONLY|ES_RIGHT

	CONTROL "Progress", IDP_S_PROGRESS, PROGRESS_CLASS, WS_BORDER, 5, 46, 95, 13
	DEFPUSHBUTTON "&Abort", ID_S_ABORT,  105, 45, 45, 15 
END


